@use '../abstracts/' as *;

.customize-theme{
  background: rgba(0,0,0,.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1.44rem;
  display: none;
}

.customize-theme .card{
  background: $color-white;
  padding: 4.8rem;
  border-radius: $card-border-radius;
  width: 50%;
  box-shadow: 0 0 1.6rem $color-dark;
    @include medium-screen{
      width: 92vw;
    }
    @include large-screen{
      width: 80vw;
    }
}

/* --------- FONT SIZE --------- */
.customize-theme .font-size{
  margin-top: 8rem;
}

.customize-theme .font-size > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-light;
  padding: $search-padding;
  border-radius: $card-border-radius;
}

.customize-theme .choose-size{
  background: $color-secondary;
  height: .48rem;
  width: 100%;
  margin: .16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-theme .choose-size span{
  width: 1.6rem;
  height: 1.6rem;
  background: $color-secondary;
  border-radius: 50%;
  cursor: pointer;
}

.customize-theme .choose-size span.active{
  background: $color-primary;
}

/* --------- FONT SIZE --------- */
.customize-theme .color{
  margin-top: 3.2rem;
}

.customize-theme .choose-color{
  background: $color-light;
  padding: $search-padding;
  border-radius: $card-border-radius;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customize-theme .choose-color span{
  width: 3.52rem;
  height: 3.52rem;
  border-radius: 50%;
}

.customize-theme .choose-color span:nth-child(1){
  background: #6b4de6;
}
.customize-theme .choose-color span:nth-child(2){
  background: #e6d14d;
}
.customize-theme .choose-color span:nth-child(3){
  background: #e64d61;
}
.customize-theme .choose-color span:nth-child(4){
  background: #4de69e;
}
.customize-theme .choose-color span:nth-child(5){
  background: #4dade6;
}

.customize-theme ,.choose-color span.active{
  border:5px solid #fff;
}

/* ----------BACKGROUND----------- */
.customize-theme .background{
  margin-top: 2rem;
}

.customize-theme .choose-bg{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}

.customize-theme .choose-bg > div{
  padding: $card-padding;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: .64rem;
  cursor: pointer;
}

.customize-theme .choose-bg > div.active{
  border: 2px solid $color-primary;
}

.customize-theme .choose-bg .bg-1{
  background: #fff;
  color: #000;
}
.customize-theme .choose-bg .bg-2{
  background: hsl(252, 30%, 17%);
  color: #fff;
}
.customize-theme .choose-bg .bg-3{
  background: hsl(252, 30%, 10%);
  color: #fff;
}

.customize-theme .choose-bg > div span{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 1px solid $color-gray;
  margin-right: 1.6rem;
}