$color-white: #fff;  
$color-gray: #837aa3;
$color-light: #dad8dd;
$color-primary:#0a66c2 ;
$color-secondary:#f0b6a8 ;
$color-ok: #51FB51;
$color-error: #FB5151;
$color-dark: #241e38;
$color-black: #151221;

$border-radius:1.6rem;
$card-border-radius: 1rem;
$btn-padding: .6rem 2rem;
$search-padding: .6rem 1rem;
$card-padding: 1rem;

$sticky-top-left: 8.64rem;
$sticky-top-right: 8.64rem;

$breakpoints: (
  small-screen: 375px,
  medium-screen: 752px,
  big-screen: 1200px
)