@use '../abstracts/' as *;

main .container .left{
  height: max-content;
  position: sticky;
    z-index: 5;
    top: $sticky-top-left;
  @include medium-screen{
    position: fixed;
    bottom: 0;
    left: 0;
    width:100% ;
  }
  @include large-screen{
    width: 8rem;
    z-index: 5;
  }
}

main .container .left .profile{
  padding: $card-padding;
  background: $color-white;
  border-radius: $card-border-radius;
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  width: 100%;
    @include large-screen{
      display: none;
    }
}

.left .sidebar{
  margin-top: 1.6rem;
  background: $color-white;
  border-radius: $card-border-radius;
  @include medium-screen{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
}

.left .sidebar .menu-item{
  display: flex;
  align-items: center;
  height: 5.4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  @include medium-screen{
    width: 16.66%;
    justify-content: center;
  }
}

.left .sidebar .menu-item:hover{
  background: $color-light;
}

.left .sidebar i{
  font-size: 2.24rem;
  color: $color-gray;
  margin-left: 3.2rem;
  position: relative;
  @include medium-screen{
    margin-left: 0;
  }
}

.left .sidebar i .notification-count{
  background: $color-error;
  color: $color-white;
  font-size: 1.12rem;
  width: fit-content;
  border-radius: 1.13rem;
  padding: .16rem .64rem;
  position: absolute;
  top: -.32rem;
  right: -.48rem;
}

.left .sidebar h3{
  margin-left: 2.4rem;
  font-size: 1.6rem;
}

.left .sidebar .active{
  background: $color-light;
}

.left .sidebar .active i,
.left .sidebar .active h3{
  color: $color-primary;
}

.left .sidebar .active::before{
  content: " ";
  position: absolute;
  display: block;
  width: .8rem;
  height: 100%;
  background: $color-primary;
  @include medium-screen{
    width: 100%;
    height: 10%;
    bottom: 0;
  }
}

.left .sidebar .menu-item:first-child.active{
  border-top-left-radius: $card-border-radius;
  overflow: hidden;
  @include medium-screen{
    border-top-left-radius: 0;
  }
}

.left .sidebar .menu-item:last-child.active{
 border-bottom-left-radius: $card-border-radius;
 overflow: hidden;
 @include medium-screen{
  border-bottom-left-radius: 0;
}
}

@include large-screen{
  .sidebar h3{
    display: none;
  }
}